<meta charset="utf-8">

<meta http-equiv='Content-Security-Policy' content="default-src 'self'; frame-ancestors 'none';">
<meta http-equiv='X-Frame-Options' content="DENY">
<meta http-equiv='X-Content-Type-Options' content="nosniff">

{% include seo.html %}

{% unless site.atom_feed.hide %}
  <link href="{% if site.atom_feed.path %}{{ site.atom_feed.path }}{% else %}{{ '/feed.xml' | relative_url }}{% endif %}" type="application/atom+xml" rel="alternate" title="{{ site.title }} Feed">
{% endunless %}

<!-- https://t.co/dKP3o1e -->
<meta name="viewport" content="width=device-width, initial-scale=1.0">

<!-- Favicons -->
<link rel="apple-touch-icon" sizes="180x180" href="/assets/images/apple-touch-icon.png">
<link rel="icon" type="image/png" sizes="32x32" href="/assets/images/favicon-32x32.png">
<link rel="icon" type="image/png" sizes="16x16" href="/assets/images/favicon-16x16.png">
<link rel="manifest" href="/assets/images/site.webmanifest">
<link rel="mask-icon" href="/assets/images/safari-pinned-tab.svg" color="#5bbad5">
<link rel="shortcut icon" href="/assets/images/favicon.ico">
<meta name="msapplication-TileColor" content="#252a34">
<meta name="msapplication-config" content="/assets/images/browserconfig.xml">
<meta name="theme-color" content="#252a34">

<style type="text/css" media="screen, print">
  /* Sora-Regular - Latin */
  @font-face {
    font-family: 'Sora';
    font-style: normal;
    font-weight: 400;
    src: url({{ '/assets/webfonts/sora-v10-latin-regular.eot' | relative_url }}); /* IE9 Compat Modes */
    src: local(''),
         url({{ '/assets/webfonts/sora-v10-latin-regular.eot?#iefix' | relative_url }}) format('embedded-opentype'), /* IE6-IE8 */
         url({{ '/assets/webfonts/sora-v10-latin-regular.woff2' | relative_url }}) format('woff2'), /* Super Modern Browsers */
         url({{ '/assets/webfonts/sora-v10-latin-regular.woff' | relative_url }}) format('woff'), /* Modern Browsers */
         url({{ '/assets/webfonts/sora-v10-latin-regular.ttf' | relative_url }}) format('truetype'), /* Safari, Android, iOS */
         url({{ '/assets/webfonts/sora-v10-latin-regular.svg#Sora' | relative_url }}) format('svg'); /* Legacy iOS */
    font-display: swap;
  }
  /* Text in Banner auf Startseite */
  h1#page-title {
    text-align: center;
  }
  p.page__lead {
    max-width: unset !important;
    text-align: center;
  }
  /* Obfuscation */
  span.codeDirection {
    unicode-bidi: bidi-override;
    direction: rtl;
  }
  span.displayNone, nav#site-nav > a.displayNone {
    display: none;
  }
</style>

<script>
  document.documentElement.className = document.documentElement.className.replace(/\bno-js\b/g, '') + ' js ';
</script>

<!-- For all browsers -->
<link rel="stylesheet" href="{{ '/assets/css/main.css' | relative_url }}">
<!-- Font Awesome -->
<link rel="preload" href="{{ '/assets/css/all.min.css' | relative_url }}" as="style" onload="this.onload=null;this.rel='stylesheet'">
<noscript><link rel="stylesheet" href="{{ '/assets/css/all.min.css' | relative_url }}"></noscript>

{% if site.head_scripts %}
  {% for script in site.head_scripts %}
    <script src="{{ script | relative_url }}"></script>
  {% endfor %}
{% endif %}
