---
# Only the main Sass file needs front matter (the dashes are enough)
---
//$link-color: #1895ad;
$primary-color: #1895ad;
$x-large: 1536px;
$sans-serif: -apple-system, BlinkMacSystemFont, "Sora", "Roboto", "Segoe UI",
  "Helvetica Neue", "Lucida Grande", Arial, sans-serif !default;

@charset "utf-8";

@import "minimal-mistakes/skins/{{ site.minimal_mistakes_skin | default: 'default' }}"; // skin
@import "minimal-mistakes"; // main partials